asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Deprecated
Django
django-cors-headers
django-rest-framework
django-sse
djangorestframework
gunicorn
idna
joblib
numpy
oauthlib
pandas
Pillow
prettyprint
pycparser
PyGithub
PyJWT
PyNaCl
python-dateutil
python3-openid
pytz
requests
requests-oauthlib
scikit-learn
scipy
six
social-auth-app-django
social-auth-core
sqlparse
threadpoolctl
tzdata
urllib3
whitenoise
wrapt
