{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tag.css' %}">
{% endblock %}
{% block navContent %}
<nav>
  <div class="navbar-left">
    <a href="{% url 'home' %}">
      <img src="{% static 'assets/icon.png' %}" alt="DevConnector Logo">
      <span>DevConnector</span>
    </a>
  </div>
  {% block navbar %}
  <div class="navbar-right">
    <ul>
      <li><a href="{% url 'logout' %}" class="btn btn-success">Logout</a></li>
    </ul>
  </div>
  {% endblock navbar %}
</nav>
{% endblock navContent %}
{% block left %}
<div class="mb-3 container">
    <h1>Create Hackthon</h1>
    <form action="{% url 'createteamform' user_profile.username %}" method="POST">

        {% csrf_token %}
        <label for="teamname" class="form-label">Team Name</label>
        <input type="text" class="form-control" name="teamname" id="teamname"placeholder="Team Name" required>
        
        <label for="teamdesc" class="form-label">Team Description</label>
        <input type="text" class="form-control" name="teamdesc" id="teamdesc" placeholder="Team Description" required>
        
        <button type="submit" class="btn btn-primary submit-button">Create</button>
        <button class="btn btn-primary submit-button">Cancel</button>
    </form>
</div>
{% endblock left %}



