{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tag.css' %}">
{% endblock %}

{% block left %}
<div class="mb-3 container">
    <!-- Display error messages if any -->
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        
        <label for="tagname" class="form-label">Tag Name</label>
        <input type="text" class="form-control" name="tagname" id="tagname" required>
        
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" id="username" required>
        
        <button type="submit" class="btn btn-primary submit-button">Submit</button>
    </form>
</div>
{% endblock left %}

{% block right %}
<div class="outer">
    <div class="inner">
        <h2>Recommended User</h2>
    </div>
    {% for id in ids %}
        <div class="inner">
            <p>{{ id }}</p>
        </div>
    {% empty %}
        <div class="inner">
            <p>No recommended users.</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
